@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  font-family: 'Roboto', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* font-size: 30px; */
}
